<p>
    <ul>
        <li>
            <div>
                <form action="">
                    <label for=""></label>
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
                <bottom></bottom>
            </div>
        </li>
        <li>
            <div>
                <form action="">
                    <label for=""></label>
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
                <bottom></bottom>
            </div>
        </li>
        <li>
            <div>
                <form action="">
                    <label for=""></label>
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
                <bottom></bottom>
            </div>
        </li>
        <li>
            <div>
                <form action="">
                    <label for=""></label>
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
                <bottom></bottom>
            </div>
        </li>
        <li>
            <div>
                <form action="">
                    <label for=""></label>
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
                <bottom></bottom>
            </div>
        </li>
    </ul>
</p>