.squere {
  /* float: left; */
  /* border: black solid 1px; */
  /* padding: 35px; */
  width: 50px;
  height: 50px;
  padding: 0;
}
/* .area {
  border: black solid 1px;
  margin: auto;
  padding: 10px;
} */
