<h1>
	This is the secret pag!
</h1>

<p>
	you found me!
</p>

<img src="https://img.providr.com/now/2109.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>