<%- include("./partials/header") %>
<h1>Sigh Up Form</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<button>Sign up!</button>
</form>

<%- include("./partials/footer") %>

<!-- <li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li> -->