.jumbotron {
  background-image: url(https://i.pinimg.com/236x/07/33/16/073316b9983e580eaa8746f1857c8bd9--painted-brick-walls-paint-brick.jpg);
  background-size: cover;
}

#header {
  background: url(https://previews.123rf.com/images/dutourdumonde/dutourdumonde1112/dutourdumonde111200011/11365561-white-brick-wall-background.jpg) center center / cover no-repeat;
}
